.khalid{
    letter-spacing: 10px;
}
.profile{
    padding:10px 50px;
    background-size: 20px;
    width: 500px;
    height: 97vh;
    border-radius: 80px;
}
.profile img{
    margin-left: 8px;
    width: 50%;
}
.bt{
    width:250px;
    background: linear-gradient(to right,blue,violet);
    cursor: pointer;
    transition-duration: 1000ms;
}
.bt:hover{
    transform: translateY(-40px);
    background: linear-gradient(to left bottom,Moccasin,gray);
}
.wv{
    background:Linear-gradient(to right,blue,violet);
    transition-duration: 1000ms;
    cursor: pointer;
    border: none;
    outline:none;
}
.wv:hover{
    transform:translateY(-40px);
    background: linear-gradient(to left,Moccasin,gray);
}